{% extends 'trivia_parent.html.twig' %}

{% block inner %}
<div class="example-wrapper">
    {% if winner %} {% include 'trivia/win.html.twig' %} {% else %} {% include 'trivia/loss.html.twig' %} {% endif %}
</div>
{% endblock %}
