<p>The answer to the question: <br> <i>{{ question }}</i> is <b>{{ answer }}</b>.</p>
<p>You lost ;(. You got {{ correct }} correct answer{% if correct > 1 or correct == 0 %}s{% endif %} out of {{ maxAnswers }}

